body {
  font-family: sans-serif;
  background-color: #f9fbfd;
   
}
body h1 {
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-display:center ;

}
body h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-display:center ;
  }
body h2 p{
    text-align: justify;
}  
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #353534;
  padding: 10px;
  }
  .center2obj {
    width: 70%;
    margin: auto;
    padding: 5px;
    }
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

h1, 
h2 {
    color: #313740;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: #bd82b8;
    font-family: 'Archivo', sans-serif;
}
#maindiv{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}
.btn{
  color:white;
  background-color: rgb(71, 10, 56);
}
.btn:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: #d5a6d6;
}

span {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span #finalScore {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}
#submit:hover{
	background-color: rgb(185, 95, 185);
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  }

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .btn {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 18px;
  }
}